<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OTXEntities" connectionString="metadata=res://*/Entities.OTXEntities.csdl|res://*/Entities.OTXEntities.ssdl|res://*/Entities.OTXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=MSSQL;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="LoginServerPort" value="7171" />
    <add key="GameServerPort" value="7173" />
    <add key="WorldName" value="First World" />
  </appSettings>
</configuration>