<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MSSQLEntities" connectionString="metadata=res://*/Entities.MSSQLEntities.csdl|res://*/Entities.MSSQLEntities.ssdl|res://*/Entities.MSSQLEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=MSSQL;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MySQLEntities" connectionString="metadata=res://*/MySQLEntities.csdl|res://*/MySQLEntities.ssdl|res://*/MySQLEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;database=MySqlOT&quot;" providerName="System.Data.EntityClient" />
    <add name="SQLiteEntities" connectionString="metadata=res://*/LiteSQLEntities.csdl|res://*/LiteSQLEntities.ssdl|res://*/LiteSQLEntities.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Backup disco D\Tirolo\Projects\Windows\Games\OpenTibiaXna\OpenTibiaXna.Server\OpenTibiaXna.OTServer.Entities\SQLite.dbs3&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="LoginServerPort" value="7171" />
    <add key="GameServerPort" value="7172" />
    <add key="DatabaseType" value="0" /> <!-- 0 = MSSQL | 1 = MySQL | 2 = SQLite | Can use number or text, text case is ignored -->
    <add key="WorldName" value="First World" />
  </appSettings>
</configuration>